<a href="https://colab.research.google.com/github/abubogale342/final_project/blob/master/pandas_operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
books = pd.read_csv('books.csv')
ratings = pd.read_csv('ratings_old.csv')

In [68]:
books.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url'],
      dtype='object')

In [69]:
ratings.columns

Index(['user_id', 'book_id', 'rating'], dtype='object')

In [73]:
ratings.size

17929437

In [0]:
counts = ratings['user_id'].value_counts()

In [75]:
to_remove = counts[counts>40].index
df = ratings[~ratings.user_id.isin(to_remove)]
df.size

52287

In [76]:
df.columns

Index(['user_id', 'book_id', 'rating'], dtype='object')

In [0]:
counts = df['user_id'].value_counts()

In [78]:
to_remove = counts[counts<10].index
tf = df[~df.user_id.isin(to_remove)]
tf.size

52287

In [79]:
tf.head()

        user_id  book_id  rating
45159      1559     3678       5
107086     3108        2       4
107094     3108       27       5
107116     3108       24       5
107117     3108       21       5

In [0]:
rating_final = tf.to_csv('rating_new.csv')